:root {
  --color1: 224, 217, 132;
  --color2: 102, 148, 125;
  --color3: 144, 224, 184;
  --color4: 148, 93, 72;
  --color5: 224, 110, 68;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(var(--color1), 0.8);
}

.errorMessage {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(183, 79, 110);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  opacity: 0.9;
}

h1 {
  font-family: "Raleway";
  font-weight: 300;
  text-shadow: 1px 1.5px rgb(102, 102, 102);
}

.logo {
  padding-right: 5px;
  font-size: 40px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5px;
}

/* searchBar */
.searchBar {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.searchBar > * {
  border: 2px;
  border-style: solid;
  border-color: rgba(var(--color2), 0.35);

  background-color: white;
}

input#searchTerm {
  margin-right: 5px;
  height: 30px;
}

.searchBar button {
  margin-left: 5px;
  padding: 1px;

  height: 36px;
  width: 40px;
}

/* search results */
.searchResults {
  display: flex;
  flex-direction: column;

  background-color: rgba(var(--color2), 0.9);
}
