:root {
  --color1: #9ECBF7;
  --color2: #EEF4C2;
  --color3: #DDDEF4;
  --color4: #8DD9A7;
  --color5: #153063;

  --text-color: #12243D;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--color1);
  color: var(--text-color);
}

.errorMessage {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(183, 79, 110);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  opacity: 0.9;
}

h1 {
  font-family: "Raleway";
  font-weight: 300;
  text-shadow: 1px 1.5px rgb(102, 102, 102);
}

.logo {
  padding-right: 5px;
  font-size: 40px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 5px;
}

/* searchBar */
.searchBar {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.searchBar > * {
  border: 2px;
  border-style: solid;
  border-color: var(--color5);

  background-color: white;
}

input#searchTerm {
  margin-right: 5px;
  height: 30px;
}

.searchBar button {
  margin-left: 5px;
  padding: 1px;

  height: 36px;
  width: 40px;
}

/* search results */
.searchResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  width: 90%;
  margin: 5px 15px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 5px;

  background-color: var(--color2);
  opacity: 90%;
}

/* Article */
.article-container {
  box-shadow: 8px 10px 2.5px var(--color5);
  
  border-radius: 5px;
}

.article {
  background-color: var(--color4);
  opacity: 95%;

  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  height: 15rem;
}

.article:active {
  transform: translateX(10px);
  transform: translateY(10px);
}

.image-information-holder {
  display: flex;
}

.searchResults .information-bar {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}