body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(103, 152, 166, 0.65);
}

.errorMessage {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(183, 79, 110);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  opacity: 0.9;
}

h1 {
  font-family: "Raleway";
  font-weight: 300;
  text-shadow: 1px 1.5px rgb(102, 102, 102);
}

.logo {
  padding-right: 5px;
  font-size: 40px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(110, 189, 108, 0.8);

  padding-top: 5px;
}

/* searchBar */
.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  margin-right: 5px;
  height: 20px;
}

.searchBar button {
  margin-left: 5px;
}

/* search results */
.searchResults {
  display: flex;
  flex-direction: column;
}
